*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    margin-bottom:30px ;
    font-size: 60px;
}
h2{
    font-size: 40px;
    margin-bottom: 60px;
}
p{
    margin-bottom: 30px;
    font-size: 25px;

    height: 20px;
}
button{
    width: 60%;
    height: 40px;
    
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;

}
.palyers{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 90%;
}
.player-one ,.player-two{
 width: 320px;   
 height: 450px;
 background-color: thistle;
 margin: auto;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;

}
.winner{
    background-color: darkgreen;
}